.css-ja5taz-MuiTooltip-tooltip {
  max-width: 392px !important;
  background-color: #333954 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.css-ol7wxs-MuiTypography-root {
  color: #0e101a !important;
  font-family: "Inter" sans-serif !important;
  font-size: 30px !important;
  line-height: 144px !important;
  font-weight: 600 !important;
}

.css-eglki6-MuiLinearProgress-root {
  height: 2px !important;
  background-color: #e7e9f5 !important;
}

.css-5xe99f-MuiLinearProgress-bar1 {
  background-color: #0e101a !important;
}

.active .makeStyles-exampleImage-5 {
  -webkit-animation-name: example-popup;
  animation-name: example-popup;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
}

.active .makeStyles-messageImage-6 {
  -webkit-animation-name: message-popup;
  animation-name: message-popup;
  animation-dalay: 1s;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 1s;
}

@keyframes example-popup {
  0% {
    top: -50px;
    opacity: 0;
  }
  15% {
    top: 0px;
    opacity: 0.9;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes message-popup {
  0% {
    bottom: 50px;
    opacity: 0;
  }
  20% {
    bottom: 20px;
    opacity: 0.9;
  }
  100% {
    bottom: 20px;
    opacity: 1;
  }
}
